<div class="flex gap-1 -mt-1 mb-[4.5]">

  <div
    class="flex-1 h-0.75 rounded-sm"
    [class.bg-primary]="passwordStrength >= 1"
    [class.bg-surface-high]="passwordStrength < 1">
  </div>

  <div
    class="flex-1 h-0.75 rounded-sm"
    [class.bg-primary]="passwordStrength >= 2"
    [class.bg-surface-high]="passwordStrength < 2">
  </div>

  <div
    class="flex-1 h-0.75 rounded-sm"
    [class.bg-primary]="passwordStrength >= 3"
    [class.bg-surface-high]="passwordStrength < 3">
  </div>

  <div
    class="flex-1 h-0.75 rounded-sm"
    [class.bg-primary]="passwordStrength >= 4"
    [class.bg-surface-high]="passwordStrength < 4">
  </div>

</div>